<div id="<%= dom_id food %>">
<table class="table table-bordered table-striped mx-auto" style="width: 90vw;"  id="<%= dom_id food %>">

<tbody>
  <tr>
  <td style="width: 20%;"><%= food.name %></td>
  <td style="width: 20%;"><%= food.measurement_unit %></td>
  <td style="width: 20%;"><%= food.price %></td>
  <td style="width: 20%;"><%= food.user.name %></td>
  <td style="width: 20%;"><%= link_to "REMOVE", food_path(food.id), data: { confirm: 'Are you sure?', turbo_method: :delete } %></td>    
  </tr>
</tbody>
</table>
</div>




  
